@model Vidly.ViewModels.Movies
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<div>

@Html.ActionLink("Add Movie", "New", "Movies", new {@class="btn btn-primary"})
</div>
@if(Model.MoviesList==null || Model.MoviesList.Count==0)
{
    <text>No movies have been added yet.</text>
}
else
{
    <table id="movies" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Delete</th>
            </tr>
        </thead>
        @foreach (var movie in Model.MoviesList)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id=movie.ID }, null)</td>
                <td>
                    <button data-movie-id="@movie.ID" class="btn-link js-delete">Delete</button>
                </td>
            </tr>
        }
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#movies").on("click",".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this movie?", function (result) {
                    if(result)
                    {
                        $.ajax({
                            url: "/api/movies/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });
        });

    </script>
    }